
UIComponentTest/obj/Debug/UIComponentTest.exe
UIComponentTest/obj/Debug/UIComponentTest.csprojResolveAssemblyReference.cache
UIComponentTest/obj/Debug/UIComponentTest.csproj.GenerateResource.Cache
UIComponentTest/bin/Debug/Rootech.UI.Compoent.dll
UIComponentTest/bin/Debug/Rootech.UI.Compoent.dll
UIComponentTest/bin/Debug/Rootech.UI.Compoent.pdb
UIComponentTest/bin/Debug/UIComponentTest.exe
UIComponentTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
